pre code,
code {
  line-height: 1.7;
}

.wy-nav-content {
  overflow: auto;
  max-height: 100vh;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 20;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    margin: 0 -1.5em;

    padding: 0.75em 1.5em;
}

.sticky-subheader {
  position: sticky;
  top: 6rem;
  z-index: 19;

  background-color: #fcfcfc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  margin: 0 -1.5em;

  padding: 0.5em 1.5em;
}

.sticky-antipattern-subheader {
  position: sticky;
  top: 6rem;
  z-index: 18;

  background-color: #fcfcfc;

  margin: 0 -1.5em;

  padding: 0.5em 1.5em;
}
